

  
 

.parent {
  margin: 20px auto;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}
.parent div {
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
:root {

  --main-color: #000000ed;

}

* {

  transition: 1s all;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

}

body {

  font-family: "Work Sans", sans-serif;

  transition: 1s all;

}

.container {

  width: 970px;

  height: 600px;

  margin-left: auto;

  margin-right: auto;

}

/*Start header*/

header {

  padding: 20px;

  height: 640px;

  background-image: url(../img/slid.jpg);

  background-size: cover;

}

header .container {

  width: 600px;

  height: 100px;

  margin-left: auto;

  margin-right: auto;

  display: flex;

  justify-content: space-between;

}

.logo {

  width: 250px;

  height: 45px;

  background-image: url(../img/logo.png);

  background-size: contain;

}

.links {

  position: relative;

}

.icon {

  width: 30px;

  display: flex;

  flex-wrap: wrap;

  justify-content: flex-end;

}

.icon span {

  background-color: rgb(5, 5, 5);

  margin-bottom: 5px;

  height: 2px;

}

.icon span:first-child {

  height: 3px;

  width: 100%;

}

.icon span:nth-child(2) {

  height: 2px;

  width: 65%;

  transition: 0.5s;

}

.icon span:last-child {

  height: 2px;

  width: 100%;

}

.links:hover .icon span:nth-child(2) {

  width: 100%;

}

header .container .links:hover ul {

  display: inline;

}

header .container .links ul {

  list-style-type: none;

  margin: 0;

  padding: 0;

  position: absolute;

  left: -5px;

  top: calc(100% + 20px);

  background-color: #b7b4b97a;

  min-width: 200px;

  

}

.links ul li

{display:flex;

}

header .container .links ul::before {

  content: "";

  border-width: 23px;

  border-color: transparent transparent #b7b4b97a transparent;

  border-style: solid;

  position: absolute;

  top: -45px;

}

header .container .links ul li a {

  text-decoration: none;

  display:inline;

  padding: 10px;

  transition: 0.5s;

}

header .container .links ul li a:hover {

  padding-left: 15px;

}

header .container .links ul li:not(:last-child) a {

  border-bottom: 1px solid rgb(180, 177, 177);

} /*End header*/

.cours .container {

  background-color: whitesmoke;

  padding-left: 5px;

  padding-right: 5px;

}

.cours .container h2 {

  text-align: center;

  color: var(--main-color);

  font-size: 2em;

  margin: 0.67em 0;

} /*Start about*/

.about .container {

  padding-left: 5px;

  padding-right: 5px;

  height: auto;

}

.about .container h2 {

  text-align: center;

  color: var(--main-color);

  font-size: 2em;

  margin: 0.67em 0;

}

.about .container .info {

  position: relative;

}

.about .container .info p {

  text-align: center;

  word-wrap: break-word;

  line-height: 35px;

  word-spacing: 1px;

  font-size: 20px;

  padding: 10px;

  margin: auto;

}

.about .container .info img {

  width: 100%;

  height: 100%;

}

/*End about*/

/*Start contact*/

.contact .container {

  background-color: whitesmoke;

  padding-left: 5px;

  padding-right: 5px;

}

.contact .container h2 {

  text-align: center;

  color: var(--main-color);

  font-size: 2em;

  margin: 0.67em 0;

}

/*End contact*/

.container hr {

  width: 150px;

  height: 2px;

  background-color: #16162d;

}

.about .container hr,

.contact .container hr {

  width: 65px;

}

.contact .container form {

  display: flex;

}

/*start media*/

@media (min-width: 0px) {

  header .container,

  .container {

    width: auto;

  }

  .logo {

    width: 250px;

  }

}

@media (min-width: 768px) {

  header .container,

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  header .container,

  .container {

    width: 970px;

  }

}

/*end media*/
